.flex {
  display: flex;
}
.itemcen {
  justify-content: center;
}
.align {
  align-items: center;
}
.border {
  border: 2px solid rgba(43, 42, 42, 0.895);
  margin: 2px;
  border-radius: 4px;
}
.bggra {
  background-color: rgb(27, 26, 26);
}
.m2 {
  margin: 4px;
}
.heading {
  font-weight: bold;
  gap: 10px;
  padding-top: 20px;
  padding: 4px;
  font-size: 10px;
  left: 1px;
  margin-left: 4px;
}
/* For WebKit browsers (like Chrome, Safari) */
/* You can adjust colors and dimensions as needed */

/* Track */
::-webkit-scrollbar {
  width: 12px; /* width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #333; /* color of the scrollbar */
  border-radius: 10px; /* roundness of the scrollbar */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* color of the scrollbar on hover */
}

/* For Firefox */
/* You can adjust colors and dimensions as needed */

/* Track */
body {
  scrollbar-width: thin; /* "auto" hides native scrollbar in Firefox */
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background-color: #333; /* color of the scrollbar */
  border-radius: 10px; /* roundness of the scrollbar */
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* color of the scrollbar on hover */
}
.hr {
  height: 1px;
  width: 1200%;
  background-color: rgb(54, 54, 54);
  position: absolute;
  top: -17px;
}
.plasng img {
  width: 13px;
  position: relative;
  top: 3px;
}
.plasng {
  width: 9px;
}
.songlis {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
}
.songlis ul {
  list-style: none;
  overflow: auto;
  height: 500px;
  margin-bottom: 17px;
}
.songlis ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  border: 2px solid rgba(114, 113, 113, 0.95);
  border-radius: 7px;
  padding-left: 2px;
  padding-right: 2px;
  gap: 2px;
}
.headphns {
  width: 29px;
}
.plicon {
  width: 29px;
  margin-left: 12px;
  margin-right: 12px;
}
.planow {
  display: flex;
  width: 70px;
  /*margin-right: 24px;*/
}
